<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.procurement.PurchaseorderDao">
	 <!-- 添加 -->
	 <insert id="addPurchaseorder" parameterType="purchaseorder">
	 	insert into purchaseorder
	 (id,purchaseNo,userid,purchaseName,purchasingItems,origin,specifications,level,warehouse,cargo,price,purchastate,payment,invoice,province,city,district,address,abortDate,contacter,companyName,phone,trading,uploadDate)
	 	values 
	 (#{id},#{purchaseNo},#{user.userid},#{purchaseName},#{purchasingItems},#{origin},#{specifications},#{level},#{warehouse},#{cargo},#{price},#{purchastate},#{payment},#{invoice},#{province},#{city},#{district},#{address},#{abortDate},#{contacter},#{companyName},#{phone},#{trading},#{uploadDate})
	 </insert>
</mapper>	
