<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.resource.ResourcesItemsDao">
	 <!-- 添加 -->
	 <insert id="addResourcesItems" parameterType="ResourcesItems">
	 	insert into ResourcesItems
	 	 (rNo,threeId,brand,product,origin,uploadDate,specifications,amount,rprice,rcurrency,rwarehouse,rCargo,note,singleId)
	 		values 
	 		(#{rNo},#{threeId},#{brand},#{product},#{origin},#{uploadDate},#{specifications},#{amount},#{rprice},#{rcurrency},#{rwarehouse},#{rCargo},#{note},#{ResourcesSingle.id})
	 </insert>
	 <insert id="addResourcesSingle" parameterType="ResourcesSingle">
	 	insert into ResourcesSingle
	 	 (singleNo,singleNo,rphone,resourceState,uploadDate)
	 		values 
	 		(#{singleNo},#{user.id},#{rphone},#{resourceState},#{uploadDate})
	 </insert>
</mapper>	
